.form1{
    margin-bottom: 20rem;
    box-shadow: 10px 10px;
}

.col-sm-2{
    margin-top: 10rem;
    margin-bottom: 20rem;
    margin-right: 20rem;
}

.btn btn-outline-warning btn-lg{
    margin-left: 50rem;
}
